<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Speed Test</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container">
    <h3><a href ="/users/login">Login</a></h3>
    <h3><a href ="/users/register">Register</a></h3>
    <h1>Unleash Your Keyboard Ninja Skills - Conquer the Speedy Typing Challenge!</h1>
    <p>Flex Those Fingers - Get Ready to Type the Following Text:</p>
    <p id="quoteDisplay"></p>
    <input type="text" id="user-input" disabled placeholder="">
    <button id="start-button">Start</button>
    <button id="reset-button">Reset</button>
    <p id="result"></p>
    <p id="timer">1</p>
  </div>
  <script src="/script.js"></script>
</body>
</html>
