<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typing Speed Test</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jaldi&family=Varela&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <div class="top-right-links">
      <a href="/users/login" class="link">Login</a>
      <a href="/users/register" class="link">Register</a>
    </div>
    <h1>Unleash Your Keyboard Ninja Skills - Conquer the Speedy Typing Challenge!</h1>
    <p>Flex Those Fingers - Get Ready to Type the Following Text:</p>
    <p id="quoteDisplay"></p>
    <input type="text" id="user-input" disabled placeholder="">
    <button id="start-button">Start</button>
    <button id="reset-button">Reset</button>
    <p id="result"></p>
    <p id="timer">1:00</p>
  </div>
  <script src="/script.js"></script>
</body>
</html>
