body {
  font-family: 'Varela', sans-serif;
  background-color: #232425;
  color: #333;
  margin: 0;
  padding: 0;
}

.mainbody {
  margin-top: 12%;
  margin-bottom:30%;
  text-align: center;
}

.top {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.container {
  display:flex;
  flex-direction: column;
  max-width: 1312px;
  margin: 0 auto;
  background-color: #232425;
}


.link {
  text-decoration: none;
  font-weight: bold;
  color: #e4609b;
  display: flex;
  margin-right: 10px;
  align-items: center;
}


h1 {
  font-size: 28px;
  color: white;
}

h2 {
  color: white;
}

label {
  color:#0bd3d3;
}

.inputbox {
  height: 32px;
  width: 296px;
  font-size: 20px;
  font-family: 'jaldi', sans-serif;
  background-color:#424040;
  border: 0px none;
  outline: none;
  box-shadow: inset 0 0 0 1px;
  color:white;
  caret-color:#e4609b;
  padding: 8px 14px 8px 14px;
}
::placeholder{
  color:#0bd3d3;
  opacity: 2;
}

::selection {
  background:#e4609b;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0bd3d3;
}

#quoteDisplay {
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'Jaldi', sans-serif;
}

#user-input {
  position: absolute;
  left: -9999px;
}

.userbuttons {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Varela', sans-serif;
  color: white;
  background-color: black;
  border:0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #424040;;
}

#result {
  font-size: 18px;
  margin-bottom: 20px;
}

#timer {
  font-size: 24px;
  font-family: 'Roboto Mono', monospace;
}

.footer {
  display:flex;
  justify-content:center;
}
.correct {
  color: white;
}

.incorrect {
  color: yellow;
  text-decoration: underline;
}

.disabled {
  background-color:#424040;
  cursor: default;

}