body {
  font-family: 'Varela', sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-right-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.link {
  text-decoration: none;
  color: #333;
}

.link:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: black;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

#quoteDisplay {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Jaldi', sans-serif;
}

#user-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-family: 'Jaldi', sans-serif;
}

button {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Varela', sans-serif;
  color: #333;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f2f2f2;;
}

#result {
  font-size: 18px;
  margin-bottom: 20px;
}

#timer {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 14px;
  }
  
  #quoteDisplay {
    font-size: 16px;
  }
  
  #user-input {
    font-size: 16px;
  }
  
  button {
    font-size: 14px;
  }
  
  #result {
    font-size: 16px;
  }
  
  #timer {
    font-size: 20px;
  }
}

.correct {
  color: black;
}

.incorrect {
  color: red;
  text-decoration: underline;
}